@use 'header';
@use 'hero';
@use 'sinopse';
@use 'personagens';
@use 'curiosidades';
@use 'trailer';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}